@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: #70707015;
}
.btn-pri-color {
  background: linear-gradient(to right, #1a129f, #5346ff);
  border-radius: 2rem !important;
}
.wraper {
  max-width: 1000px;
  margin: 0 auto;
}
.navi {
  position: absolute;
  top: 0;
  z-index: 100;
  transition:  top 0.4s;
  position: fixed;
  backdrop-filter: blur(8px);    
  background-color: #dbdaf4b3;
  animation: resnav linear 0.5s;
}
.cus{
  margin-top: -100px;
}
.resnav{
  position: fixed;
  backdrop-filter: blur(10px);    
  background-color: #dbdaf4b3;
  animation: resnav linear 0.5s;
}

.resnav .nav-link:hover{
  color: #000000 !important;
}
.part-1{
  position: relative;
}
.social-bar{
  position: absolute;
  bottom: 37%;
  left: 10%;
}
.scroll-mouse{
  position: absolute;
  bottom: 45px;
  left: 50%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45) !important;
}
.scroll-mouse a{
  text-align: center;
}
.scroll-mouse img{
  width: 77%;
}
.home {
  background-image: url("../img/bg-shape.svg");
  background-size: 50%;
  background-position: top right;
  background-repeat: no-repeat;
}
.home-img,
.sec-img {
  width: 100%;
}
.service .card {
  height: 350px;
}
.card-para {
  height: 128px;
  margin-bottom: 0 !important;
  font-size: 12.5px;
}
.small-wrap {
  max-width: 890px;
  margin: 0 auto;
}
.service-card:hover,
.price-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}
.slick-slide {
  padding-bottom: 15px;
  padding-top: 10px;
}
.slick-dots {
  bottom: -20px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-dots li {
  width: 9px !important;
  height: 9px !important;
  border-radius: 50%;
  background-color: transparent;
  border: 0.5px solid #1a129f;
}
.slick-dots li button:before{
  content: '' !important;
}
li.slick-active {
  background-color: #1a129f;
  border: 8px solid #1a129f;
}
.footer {
  height: 75vh;
  background-image: url("../img/footer-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
  margin-top: -200px;
}
.f-wrap {
  height: 20vh;
  margin-top: 10px;
}
.navbar-toggler{
  border: none;
}
.show{
  backdrop-filter: blur(15px);
}

.navbar-toggler:focus{
  outline: none;
}
.ani1{
  animation-delay: 0.5s;
}
.ani2{
  animation-delay: 0.9s;
}
.ani3{
  animation-delay: 1.3s;
}
.ani4{
  animation-delay:1.72s;
}
.indicator{
  border-bottom: 3px solid #1a129f;
}
@keyframes resnav{
  from{top: -5%;}
  to{top: 0%;}
}
@media screen and (max-width: 576px) {
  .indicator{
    border-bottom: 1px solid #1a129f;
  }
  .navbar-nav{
    display: flex;
    justify-content: center !important;
    backdrop-filter: blur(12px) !important;
  }
  .nav-link{
    color: #1a129f !important;
    margin-left: 25px !important;
  }
  .sec-img {
    width: 90%;
  }
  .scroll-mouse{
    position: absolute;
    left: auto;
    right: 20px;
    bottom: 10px;
  }
  .social-bar{
    left: auto;
    right: 30px;
    bottom: 206px;
  }
  .service .card {
    height: 320px;
  }
  .card-para {
    height: 100px;
  }
  .f-wrap {
    margin-top: 100px;
  }
  .footer {
    height: 150vh;
    margin-top: -390px;
    padding-top: 300px;
    background-size: cover;
    background-position: top center;
  }
  .nav-link{
    width: 20%;
    text-align: center;
  }
}
